.header {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: aqua;
    display: flex;
    height: 5rem;
    align-items: center;
}

h1 {
    opacity: 0.5;
}

.list_container {
    margin: 0 1rem;
    padding: 0;
    display: flex;
    list-style: none;
    color: black;
}

.list_container a {
    text-decoration: none;
    color: black;
    margin: 0 1rem;
    /* border: 1px solid royalblue;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 7px; */
}

.list_container a:hover,
.list_container a:active
{
    color: darkorange;
}

.active {
    color: orange;
}